<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexKeyChain">
        <method name="setItem"></method>
		<method name="getItem"></method>
        <method name="removeItem"></method>
        <method name="getDeviceUniqueIdentifier" sync="ture"></method>
	</plugin>
</uexplugins>
